.wrap
    %table.bar
        %tr
            %td.left
                %a{ :href => @location } &larr Back
            %td.center
                %h1 Error!
            %td.right &nbsp;

.wrap= @message